<html>
  <head>
    <title>Mis Fincas</title>
    <!-- Aquí puedes agregar más metadatos o enlaces a hojas de estilo adicionales si es necesario -->
  </head>
  <body>
    <h2>Mis Fincas</h2>
    <% if (flash) { %>
      <div class="flash-message <%= flash.type %>" style="margin-bottom:10px;"><%= flash.message %></div>
    <% } %>
    <% if (farms && farms.length > 0) { %>
      <div class="farms-list">
        <% farms.forEach(function(farm) { %>
          <div class="farm-info">
            <div class="farm-title"><%= farm.name %></div>
            <div class="farm-address"><%= farm.address %></div>
            <div class="farm-state">
                <strong>Estado:</strong> <%= farm.state ? farm.state.name : farm.state_id %>
                &nbsp;|&nbsp;
                <strong>Municipio:</strong> <%= farm.town ? farm.town.name : farm.town_id %>
                &nbsp;|&nbsp;
                <strong>Parroquia:</strong> <%= farm.parroquia ? farm.parroquia.name : farm.parroquia_id %>
                <br>
                <br>
                <strong>Cantidad de ganado:</strong> <%= typeof farm.quantity !== 'undefined' ? farm.quantity : 0 %>
                <br>
            </div>
            <div class="farm-description"><%= farm.description %></div>
            <br>
            <% if (farm.latitude && farm.longitude) { %>
              <iframe
                width="250"
                height="150"
                frameborder="0"
                style="border:0"
                src="https://www.google.com/maps?q=<%= farm.latitude %>,<%= farm.longitude %>&z=15&output=embed"
                allowfullscreen>
              </iframe>
            <% } else { %>
              Google Maps no disponible.
            <% } %><br>
            <br>
            <strong>Registrada:</strong> <%= farm.created_at ? farm.created_at.toLocaleString ? farm.created_at.toLocaleString() : farm.created_at : '' %><br>
            <br>
            <a href="/farms/<%= farm.id %>/seal" class="btn">Gestionar sello</a>
            <a href="/farms/<%= farm.id %>/edit" class="btn" style="margin-left:10px;background:#337ab7;color:#fff;">Editar información</a>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <div class="panel">
        <p>No tienes fincas registradas.</p>
      </div>
    <% } %>
  </body>
</html>